<div class="subreddit-post" ng-repeat="post in subredditCtrl.posts" ng-show="!subredditCtrl.notFound">
    <img class="subreddit-post-thumbnail" alt="{{post.data.title}} thumbnail" ng-src="{{subredditCtrl.getThumbnailSrc(post.data.thumbnail)}}">
    <a class="subreddit-post-link" ng-click="subredditCtrl.onPostClick(post);">{{post.data.title}}</a>
    <span class="subreddit-post-nsfw label label-danger" ng-show="post.data.over_18">[NSFW]</span>
    <div class="subreddit-post-metadata">
        By {{post.data.author}} {{post.data.author_flair_text}} - 
        <a class="subreddit-post-comment-link" ng-click="subredditCtrl.onCommentClick(post);">
            {{post.data.num_comments}} comments
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="subreddit-pagination text-center">
        <a class="subreddit-pagination-prev" ng-show="subredditCtrl.canPageLeft()" ng-click="subredditCtrl.pageLeft();">
            &laquo; prev
        </a>
        <a class="subreddit-pagination-next" ng-click="subredditCtrl.pageRight();">
            next &raquo; {{subredditCtrl.after}}
        </a>
    </div>
</div>
<div ng-show="subredditCtrl.notFound">
    <div class="alert alert-danger" role="alert">
        404 - Subreddit not found.
    </div>
</div>