<div class="fixed-subreddit-nav">
    <h3>Default Subreddits</h3>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"
            ng-class="{'active': subredditPaneCtrl.isSubredditActive(subreddit)}"
            ng-repeat="subreddit in subredditPaneCtrl.subreddits">
            <a ng-click="subredditPaneCtrl.onSubredditClick(subreddit)">{{subreddit.data.url}}</a>
        </li>
    </ul>
</div>
<div class="fixed-subreddit-pane">
    <div ui-view=""></div>
</div>    