/* 
    Created on : May 9, 2015, 2:32:07 PM
    Author     : Michael Kucinski
*/
.subreddit-post-frame-container,.subreddit-post-frame{
    display: block;
    width: 100%;
    height: 1000px;
}
.subreddit-post-nsfw{
}
.subreddit-comment-replies{
    margin-left: 1em;
}
.subreddit-comment{
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}
.subreddit-comment.even{

}
.subreddit-comment.odd{

}
.subreddit-comment-content{
    padding: 1em;
}
.subreddit-comment-author{
    float: left;
}
.subreddit-comment-body{
    clear: both;
}